{% extends "core/base.html" %}
{% block title %}Leave Requests{% endblock %}
{% block brand_link %}
<a class="navbar-brand" href="{% url 'hr_dashboard' %}">HRMS</a>
{% endblock %}
{% block content %}
{% include "core/sidebar.html" %}
<!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>Leave Requests</h2>
      </div>
        {% if leaves %}
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>Employee</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Applied On</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for leave in leaves %}
          <tr>
            <td>{{ leave.employee.get_full_name }}</td>
            <td>{{ leave.start_date }}</td>
            <td>{{ leave.end_date }}</td>
            <td>{{ leave.reason }}</td>
            <td>
              <span class="badge {% if leave.status == 'Pending' %}bg-warning{% elif leave.status == 'Approved' %}bg-success{% else %}bg-danger{% endif %}">
                {{ leave.status }}
              </span>
            </td>
            <td>{{ leave.applied_on }}</td>
            <td>
              {% if leave.status == 'Pending' %}
                <a href="{% url 'approve_leave' leave.id %}" class="btn btn-sm btn-success ">Approve</a>
                <a href="{% url 'reject_leave' leave.id %}" class="btn btn-sm btn-danger ">Reject</a>
              {% else %}
                <span class="text-muted">No action</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
        <div class="alert alert-info">No leave requests found.</div>
      {% endif %}
</main>
{% endblock %}
